<div class="h-screen overflow-hidden">
    <app-nav></app-nav>
    <div class="py-3 px-4 h-full overflow-auto">
        <app-modal></app-modal>
        <div class="mt-4 overflow-auto grid place-content-center grid-cols-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
            <div *ngFor="let card of cards">
                <app-card [card_id]="card.id" [titulo]="card.titulo" [estado]="card.estado" [descripcion]="card.descripcion"></app-card>
            </div>
        </div>
    </div>
</div>