<!-- Formulario inicio de sesion -->
<div class="grid place-content-center h-screen bg-blue-400">
    <form action="#" method="post" class="bg-white w-96 h-96 border border-gray-400 rounded-2xl flex flex-col p-6 shadow-lg shadow-black/60">
      <div class="h-16 text-center text-2xl font-serif">Inicio de sesion</div>
      <div class="grow">
        <div class="mb-6 grid content-center">
          <app-input label="Correo" type="text" name="correo" id="InputCorreo"></app-input>
        </div>
        <div>
          <label for="InputContraseña" class="block">Contraseña</label>
          <input type="password" id="InputContraseña" name="Contraseña" class="w-full shadow-md border border-gray-400 rounded-md outline-none p-1">
        </div>
      </div>
      <div class="h-20 text-center flex flex-col">
        <button type="button" class="py-2 mb-2 px-6 bg-blue-500 hover:bg-blue-600 text-white rounded-lg">Ingresar</button>
        <div class="flex justify-center">
          <p class="font-semibold mr-2">¿No tienes cuenta?</p><a class="text-blue-700" href="register">Registrarse</a>
        </div>
      </div>
    </form>
  </div>